<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipes</title>
</head>
<body>
    <h1>My Recipes!</h1>
    <table>
        <tr>
            <th style="width: 20px;">ID</th>
            <th style="width: 50px;">Description</th>
            <th style="width: 10px;">Difficulty</th>
            <th style="width: 10px;">Preparation Time</th>
            <th style="width: 10px;">Cook Time</th>
        </tr>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}">123</td>
            <td th:text="${recipe.description}">Tasty Goodnees</td>
            <td th:text="${recipe.difficulty}">EASY</td>
            <td th:text="${recipe.prepTime}">10</td>
            <td th:text="${recipe.cookTime}">10</td>
        </tr>
    </table>
</body>
</html>